
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #222;
  font: 400 14px CoreSans, Arial, sans-serif;
}

a {
  color: #222;
  &:hover {
    text-decoration: underline;
  }
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  width: 80%;
  padding: 10px 10px 10px 80px;
  border-radius: 1px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd;
}

label {
  position: absolute;
  color: #dddddd;
  padding: 10px 0 0 10px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #808080;
  background: whitesmoke;
  color: #808080;
  cursor: pointer;
  &:hover {
    color: #222;
  }
}

*:focus {
  outline: none;
}

//App
#app {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 70px 30px auto 50px;
  justify-items: center;
}

.page-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  justify-items: stretch;
  padding: 5px 10% 5px 10%;
  background: #ff742b;
  border: none;
  .page-title {
    color: antiquewhite;
  }
  h4 {
    color: whitesmoke;
  }
}

.page-menu {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  width: 80%;
}

.page-menu-items {
  display: flex;
  justify-content: start;
  margin-left: 20px;
  span {
    padding: 0 5px 0 5px;
  }
}

.page {
  width: 80%;
  margin-bottom: 50px;
}

.interactions {
  text-align: center;
}

.divide {
  margin-bottom: 20px;
  height: 5px;
  background-color: lightcoral;
}

.table {
  margin: 20px 0;
}

.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}

.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.table-row {
  display: flex;
  align-items: center;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #f6f6ef;
  border: 1px solid #e3e3e3;
}

.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.button-inline {
  margin-left: 15px;
  border-width: 0;
  background: transparent;
  color: salmon;
  text-align: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}

.button-more {
  background-color: white;
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38BB6C;
}

.error-msg {
  width: 70%;
  margin: 5rem auto;
  background-color: antiquewhite;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 2rem 0 2rem;
  background-color: whitesmoke;
  span {
    color: #808080;
  }
}